.link {
    display: block;
    cursor: pointer;
    transition: 0.2s all;
    color: currentColor;
    text-transform: uppercase;
}
  
.link:hover {
    color: deepskyblue;
    transform: scale(1.2);
}

.link:active {
    color: deepskyblue;
    transform: scale(0.98);
}

.link-update {
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    transform-origin: bottom;
}

.link-update .link-icon {
    margin-right: 3px;
}

.collapsed {
    overflow: hidden;
    transition: all .3s ease;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.collapsed::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}